[Desktop Entry]
Exec=/home/deck/.config/autostart/kde-autostart.sh
Icon=dialog-scripts
Name=kde-autostart.sh
Path=
Type=Application
X-KDE-AutostartScript=true
